{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center mb-4">Create a New Category</h1>

        <div class="row justify-content-center">
            <div class="col-md-6">
                <form method="post">
                    {{ form_start(form, {'attr': {'class': 'form'}}) }}

                    <div class="form-group">
                        {{ form_label(form.name, 'Category Name') }}
                        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        <div class="form-check">
                            {{ form_widget(form.active, {'attr': {'class': 'form-check-input'}}) }}
                            {{ form_label(form.active, 'Active', {'label_attr': {'class': 'form-check-label'}}) }}
                        </div>
                    </div>

                    <div class="d-flex justify-content-start">
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>

                    {{ form_end(form) }}
                </form>
            </div>
        </div>

        <div class="row justify-content-center mt-3">
            <div class="col-md-6 text-left">
                <a href="{{ path('app_product_index') }}" class="btn btn-secondary">Back to List</a>
            </div>
        </div>
    </div>
{% endblock %}
